<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

	<insert id="addMember" parameterType="com.camp.model.MemberVO">
		INSERT INTO MEMBER (
		memberId, pw, email, nickName, name, phoneNumber, inDate,
		memberImage,gradeId)
		VALUES ( #{memberId}, #{pw}, #{email},
		#{nickName}, #{name},#{phoneNumber},
		SYSDATE, #{memberImage,
		jdbcType=VARCHAR}, #{gradeId})
	</insert>

	<select id="getMembers" resultType="com.camp.model.MemberVO">
		select memberId, email,
		nickName, name, phoneNumber, inDate
		from member
	</select>

	<select id="login" parameterType="com.camp.model.MemberVO"
		resultType="String">
		select nickName
		from member
		where memberId=#{memberId} and
		pw
		= #{pw}
	</select>

	<select id="pwCheck" parameterType="com.camp.model.MemberVO"
		resultType="int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE memberId = #{memberId} AND
		pw = #{pw}
	</select>

	<update id="updateProfile" parameterType="com.camp.model.MemberVO">
		UPDATE MEMBER
		<set>
			<if test="email != null">email = #{email},</if>
			<if test="nickName != null">nickName = #{nickName},</if>
			<if test="name != null">name = #{name},</if>
			<if test="phoneNumber != null">phoneNumber = #{phoneNumber},</if>
			<if test="memberImage != null">memberImage = #{memberImage}</if>
		</set>
		WHERE memberId = #{memberId}
	</update>

	<update id="updatePw" parameterType="map">
		UPDATE MEMBER
		SET pw = #{newPw}
		WHERE memberId = #{memberId}
		AND pw = #{pw}
	</update>

	<select id="getMemberImage" parameterType="string" resultType="string">
		SELECT memberImage
		FROM MEMBER
		WHERE memberId = #{memberId}
	</select>

	<update id="setMemberImage" parameterType="map">
		UPDATE MEMBER
		SET
		memberImage = #{memberImage, jdbcType=VARCHAR}
		WHERE memberId = #{memberId}
	</update>

	<update id="updateMemberImage" parameterType="map">
		UPDATE MEMBER
		SET memberImage = #{memberImage, jdbcType=VARCHAR}
		WHERE memberId = #{memberId}
	</update>

	<update id="setDefaultImage" parameterType="string">
		UPDATE MEMBER
		SET
		memberImage = 'defaultMemberImage.png'
		WHERE memberId = #{memberId}
	</update>



</mapper>
